<tr></tr><tr></tr>
<tr>
	<td>
		<% text_block.text.split("\n").each do |line| %>
			<%= line %><br>
		<% end %>
	</td>
	<td>
		<%= text_block.address.name_1 %>
	</td>
	<td>
		<%= text_block.address.name_2 %>
	</td>
	<td>
		<%= text_block.address.name_3 %>
	</td>
	<td>
		<%= text_block.address.street_number %>
	</td>
	<td>
		<%= text_block.address.street_name %>
	</td>
	<td>
		<%= text_block.address.unit_number%>
	</td>
	<td>
		<%= text_block.address.city %>
	</td>
	<td>
		<%= text_block.address.state %>
	</td>
	<td>
		<%= text_block.address.zip_5 %>
	</td>
	<td>
		<%= text_block.address.zip_4 %>
	</td>
</tr>
