<div id="new-form">
	<%= form_for(@address) do |f| %>
		<div id="form-errors">
			<%= render 'shared/error_messages', object: f.object %>
		</div>
		
		<%= f.label :text_block, "Enter an address:" %><br>
		<%= f.text_area :text_block, size: "30x10" %><br>
		<%= f.submit "Parse Address", action: 'create' %><br>
	<% end %>
</div>
<br>
<table border=1px cellpadding=6px>
	<% if @addresses.any? %>
		<%= render 'address_table_header' %>
		<%= render @addresses.reverse %>
	<% end %>
</table>